<div class="about row">

    <div class="col-md-8">

        <h2>关于我</h2>

        <p>一颗为了Dream，等待下一个流星~的人</p>
        <p>虽然略带一丝冷，但事实上却不是这样的，它给人们带来的是无尽的微笑</p>

        <h2>联系</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Wechat：关注公众号：icysuki(<a href="http://www.icysuki.com/assets/images/avatar.jpg" target="_blank">戳我扫码</a>)给我留言。紧急联系我请在公众号回复：wq，获取我的QQ/微信直接交流</li>
            <p><em>创建了QQ群，大家如果有兴趣可以加入，入群（<strong>308010235</strong>）Java技术交流群</em></p>
        </ul>

        <h2>技巧关键字</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">软件工程师关键词</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer关键字</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">移动开发关键字</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web开发人员关键字</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>
    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>